/*seccion de los titulis*/
.titulos{
    margin: 40px;
}

.titulos h3{
    font-size: 30px;
  margin: 0;
    color: #000;
}

.titulos p{
    font-size: 20px;
    margin: 0;
    color: #878787;
}

/*seccion cards */

.section_card{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    flex-direction: row;
}

.card{
    border: 1px solid #e0e0e0;
    border-radius: 10px;    
    width: 250px;
    height: 100px;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;


}

.card-title p{
    font-size: 14px;
    margin: 0;

    color: #000;
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.card-content p{
    font-size: 20px;
    margin: 0;
    color: #000;
    font-weight: bold;
}

.opciones1 {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    border: solid 1px #f2f2f2;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 5px;
}

.opcione {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: #4a4a4a;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.opcione i {
    font-size: 16px;
}

.opcione p {
    margin: 0;
    font-weight: 500;
}

.opcione.active {
    background-color: white;
    color: black;
    box-shadow: 0 0 0 1px #d1d1d1 inset;
}


/*vistas*/

.vista {
    display: none;
}

.vista.activa {
    display: block;
}
.vista1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.grafico_uno {
    width: 45%;
    height: 400px;
}
.grafico_dos {
    width: 45%;
    height: 400px;
}