.titulo{
    margin: 40px;
    display: flex;
    justify-content: space-between;

}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(131, 131, 131);
}

.manual{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.manual a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}



.acciones_rapidas{
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid 1px #ccc;
}



.acciones_titulo h3{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   margin: 0;
 
}

.acciones_titulo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(131, 131, 131);
    margin-top: 4px;
}

.conteiner-card{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    border-radius: 10px;
    border: solid 1px #ccc;
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

   .card-icon i{
        font-size: 30px;
    }

.venta:hover{
    background-color: #deefffd8;
    cursor: pointer;
    border-color: rgb(50, 131, 245);
}   

.producto:hover{
    background-color: #e5ffded8;
    cursor: pointer;
    border-color: rgb(102, 245, 50);
}

.inventario:hover{
    background-color: #ffebded8;
    cursor: pointer;
    border-color: rgb(245, 131, 50);
}

.reporte:hover{
    background-color: #f2d8ff;
    cursor: pointer;
    border-color: rgb(138, 50, 245);
}

.usuario:hover{
    background-color: #d1d7f4;
    cursor: pointer;
    border-color: rgb(39, 92, 240);
}

.compra:hover{
    background-color: #f1ffff;
    cursor: pointer;
    border-color: rgb(46, 255, 192);
}

.resumen{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px;
    

}

.ventas-graficas{
    border: solid 1px #ccc;
    height: 500px;
    width: 60%;
}

/*ventas datos */

.ventas-recientes{
    display: flex;
    flex-direction: column;
    width: 35%;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 20px;
}

.ventas-recientes h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
}

.ventas-recientes p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(131, 131, 131);
    margin-top: 4px;
}

.ventas-recientes-contenido{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ventas-datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-left: 20px;
    
}
.ventas-datos-imagen{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.ventas-datos-nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.ventas-datos-nombre p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.ventas-datos-precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.ventas-datos-precio span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(50, 162, 16);
    font-weight: bold;
}

.ventas-datos-precio p{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
}

.ventas-recientes-vermas{
   margin-top: 20px;
   text-align: center;
   border: solid 1px #ccc;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ventas-recientes-vermas:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}

.ventas-recientes-vermas a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

/*productos destacados */

.productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px;
    flex-direction: row;
}

.productos-destacados{
    border: solid 1px #ccc;
    width: 46%;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
}

.productos-destacados h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
}

.productos-destacados p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(131, 131, 131);
    margin-top: 4px;
}

.productos-destacados-contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
}

.productos-destacados-contenido{
    display: flex;
   
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: row;
    border: solid 1px #ccc;
    border-radius: 40px;
}

.productos-destacados-numero{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a4b8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: solid 1px #000000;
    color: rgb(0, 0, 0);
    margin: 10px;
}

.productos-destacados-nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.productos-destacados-nombre p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.productos-destacados-nombre span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(131, 131, 131);
}

/*inventario */
.productos-inventario{
    border: solid 1px #ccc;
    width: 46%;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
}

.productos-inventario h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
}

.productos-inventario p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(131, 131, 131);
    margin-top: 4px;
}

.conteiner-invetario{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  
    flex-direction: column;
    background-color: #f6d6b9;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #fc821f;
}

.datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
      margin-bottom: 20px;
    flex-direction: row;
   
}



.datos-producto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.datos-producto span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(131, 131, 131);  

}

 .progress-container {
      background-color: #f0f0f0;
      border-radius: 8px;
      height: 10px;
      width: 100%;
    }

    .progress-bar {
      background-color: #1a1a1a;
      height: 10px;
      border-radius: 8px 0 0 8px;
      width: 0%;
      transition: width 0.4s ease-in-out;
    }

    .inventario-gestionar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 10px;
    }

    .inventario-gestionar a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 10px;
    
    }

    .inventario-gestionar:hover{
        background-color: #f2f2f2;
        cursor: pointer;
    }

    @media (max-width: 768px) {
    .titulo, .acciones_rapidas, .resumen, .productos {
        margin: 20px;
        flex-direction: column;
    }

    .card{
        width: 100px;
    }

    .card-text
{
        font-size: 14px;
    }

    .card-icon i{
        font-size: 20px;
    }

    .conteiner-card {
        justify-content: center;
    }

    .card {
        
        max-width: 200px;
        margin: 10px 10px;
    }

    .resumen {
        flex-direction: column;
        align-items: center;
    }

    .ventas-graficas, .ventas-recientes {
        width: 100%;
        margin-top: 20px;
    }

    .productos {
        flex-direction: column;
        align-items: center;
    }

    .productos-destacados, .productos-inventario {
        width: 100%;
        margin-top: 20px;
        height: auto;
    }

    .productos-destacados-contenedor,
    .conteiner-invetario {
        flex-direction: column;
        align-items: center;
    }

    .productos-destacados-contenido, .datos {
        flex-direction: column;
        align-items: flex-start;
    }

    .ventas-datos {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0;
    }

    .ventas-datos-imagen {
        margin: 0 0 10px 0;
    }

    .ventas-datos-nombre, .ventas-datos-precio {
        margin: 5px 0;
    }

    .productos-destacados-nombre,
    .datos-producto {
        text-align: center;
        width: 100%;
    }

    .inventario-gestionar {
        margin-top: 10px;
        flex-direction: column;
    }

    .inventario-gestionar a {
        width: 100%;
        text-align: center;
    }
}
