
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:green;
    
}



h1 {
    color: #333;
    text-align: center; /* <--  centra el h1 */
    
}
.txtAreas{
  
    background-color: red;
  
    align-items: center;
}