

body {
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
 
}

.container {
  max-width: 70%; /* ancho máximo del formulario */
  margin: 50px auto; /* centrado horizontal con margen arriba y abajo */
  padding: 20px; /* espacio interno */
  background: #ffffff; /* fondo claro */
  border-radius: 12px; /* bordes redondeados */
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* sombra suave */
  font-family: sans-serif; /* tipo de letra */
  
}

/* Título centrado */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estructura del formulario */
form {
  display: flex;
  flex-direction: column; /* elementos en columna */
}

/* Contenedor de las dos columnas */
.form-columns {
  display: flex; /* activa flexbox */
  gap: 50px; /* separación entre columnas */
  justify-content: space-between; /* espacio uniforme */
  margin-bottom: 20px;
}

/* Cada columna individual */
.form-group {
  flex: 1; /* que cada columna ocupe el mismo espacio */
}

/* Estilo de etiquetas (label) */
label {
  display: block; /* para que cada etiqueta esté encima del input */
  margin-bottom: 5px;
 
}
select{
  width: 70%;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: 2px solid #ccc; /* mantiene el mismo grosor */
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  height: 40px;
}


/* Estilo cuando pasa el mouse  */
input:hover{
  border-color: #0077ffad; 
  box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
}

/* Estilo general de los campos de texto  */
input[type="text"],
input[type="number"],
image-box {
  width: 80%;
  height: 20px;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: 2px solid #ccc; /* mantiene el mismo grosor */
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Solo cambia el color del borde */
input[type="text"]:focus,
select:focus,
input[type="number"]:focus {
  border-color: #3575c9; /* verde */
  outline: none;
  box-shadow: 0 0 5px rgba(52, 202, 202, 0.5);
}
textarea {
  width: 80%;
  height: 100px;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: inherit;
  transition: border-color 0.3s, box-shadow 0.3s;
 
  resize: none; /* <-- esto evita que se pueda estirar */
}

textarea:focus {
  border-color: #3575c9;
  outline: none;
  box-shadow: 0 0 5px rgba(52, 202, 202, 0.5);
}


.image-box {
  width: 77%;
  height: 150px;
  border: 2px dashed #999999; /* borde punteado */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  background-color: #fdfdfd;
  cursor: pointer;
  transition: border-color 0.3s;
  color: #7a7a7a;
  
}

.image-box:hover {
  border-color: #2e60cc; /* verde al pasar el mouse */
}

/* Oculta el input nativo pero mantiene funcionalidad */
.image-box input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}



/* Botón de envío */
.btn-guardar{
  padding: 10px 20px;
  background-color: #0383ec; /* azul */
  border: none;
  color: white; /* texto blanco */
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer; /* puntero al pasar el mouse */
  width: 80px;
  text-decoration: none; /* sin subrayado */
 
}
.btn-guardar:hover {
  background-color: #005bb5; /* azul más oscuro al pasar el mouse */
}

.btn-cancelar {
  padding: 10px 20px;
  background-color: #ff4d4d00; 
  border: none;
  color: rgb(70, 70, 70);
  border-radius: 8px;
  font-size: 16px;
  align-self: flex-end; /* alinea el botón a la derecha */
  width: 80px;
  text-decoration: none; /* sin subrayado */
 
  
}

